



Network Working Group                                            D. King
Internet-Draft                                      Lancaster University
Intended status: Informational                           L. M. Contreras
Expires: 25 November 2023                                     Telefonica
                                                                B. Sipos
                                                                 JHU/APL
                                                             24 May 2023


                TVR (Time-Variant Routing) Requirements
                     draft-kcs-tvr-requirements-00

Abstract

   Time-Variant Routing (TVR) refers to the calculation of a path or
   subpath through a network where the time of message transmission (or
   receipt) is part of the overall route computation.  This means that,
   all things being equal, a TVR computation might produce different
   results depending on the time that the computation is performed
   without other detectable changes to the network topology or other
   cost functions associated with the route.

   This document introduces requirements where TVR computations could
   improve message exchange in a network.

About This Document

   This note is to be removed before publishing as an RFC.

   Status information for this document may be found at
   https://datatracker.ietf.org/doc/draft-ietf-tvr-requirements/.

   Discussion of this document takes place on the Time Variant Routing
   Working Group mailing list (mailto:tvr@ietf.org), which is archived
   at https://mailarchive.ietf.org/arch/browse/tvr/.  Subscribe at
   https://www.ietf.org/mailman/listinfo/tvr/.

   Source for this draft and an issue tracker can be found at
   https://github.com/danielkinguk/tvr-requirements.

Status of This Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.







King, et al.            Expires 25 November 2023                [Page 1]

Internet-Draft              tvr-requirements                    May 2023


   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at https://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on 25 November 2023.

Copyright Notice

   Copyright (c) 2023 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents (https://trustee.ietf.org/
   license-info) in effect on the date of publication of this document.
   Please review these documents carefully, as they describe your rights
   and restrictions with respect to this document.  Code Components
   extracted from this document must include Revised BSD License text as
   described in Section 4.e of the Trust Legal Provisions and are
   provided without warranty as described in the Revised BSD License.

Table of Contents

   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . .   3
   2.  Conventions and Definitions . . . . . . . . . . . . . . . . .   3
   3.  Overview of Time-Variant Networks . . . . . . . . . . . . . .   3
     3.1.  Resource Scheduling . . . . . . . . . . . . . . . . . . .   3
     3.2.  Topologies  . . . . . . . . . . . . . . . . . . . . . . .   4
       3.2.1.  Nodes . . . . . . . . . . . . . . . . . . . . . . . .   4
       3.2.2.  Links . . . . . . . . . . . . . . . . . . . . . . . .   4
     3.3.  Routing . . . . . . . . . . . . . . . . . . . . . . . . .   4
       3.3.1.  Constraints . . . . . . . . . . . . . . . . . . . . .   4
   4.  Time-Variant Use Case Requirements  . . . . . . . . . . . . .   4
   5.  Operational Considerations  . . . . . . . . . . . . . . . . .   4
   6.  Security Considerations . . . . . . . . . . . . . . . . . . .   4
   7.  IANA Considerations . . . . . . . . . . . . . . . . . . . . .   4
   8.  References  . . . . . . . . . . . . . . . . . . . . . . . . .   4
     8.1.  Normative References  . . . . . . . . . . . . . . . . . .   4
     8.2.  Informative References  . . . . . . . . . . . . . . . . .   5
   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . .   5






King, et al.            Expires 25 November 2023                [Page 2]

Internet-Draft              tvr-requirements                    May 2023


1.  Introduction


2.  Conventions and Definitions

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED", "MAY", and
   "OPTIONAL" in this document are to be interpreted as described in
   BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all
   capitals, as shown here.

3.  Overview of Time-Variant Networks

   Existing Internet routing techniques maintain end-to-end connected
   paths across a network.  Routing mechanisms exist to recover
   connectivity and resume normal traffic forwarding as the topology
   changes.  Occasionally, optimisation of routes may also be requested,
   especially post-topology changes due to disruptive events.  However,
   there are a growing number of use cases where changes to the routing
   topology are an expected part of network operations.  In these
   scenarios, the pre-planned loss and restoration of an adjacency, or
   formation of an alternate adjacency, should be seen as a non-
   disruptive event.

   Time-Variant Routing (TVR) refers to calculating a path or subpath
   through a network where the time of message transmission (or receipt)
   is part of the overall route computation.  Therefore, a TVR
   computation might produce different results depending on the time
   that the calculation is performed without other detectable changes to
   the network topology or other cost functions associated with the
   route.

3.1.  Resource Scheduling

   Planned resource scheduling will be required for various scenarios;
   these include networks with mobile nodes, such as crewless aerial
   vehicles and orbiting satellite constellations.  In these scenarios,
   links are lost and re-established as a function of the mobility of
   the platforms.  Furthermore, link activity might be restricted to
   certain times of the day in networks without reliable access to
   power, such as networks harvesting energy from tidal, wind, and solar
   resources.  Similarly, network traffic might be planned around energy
   costs or expected user data volumes in networks prioritising green
   computing and energy efficiency over data rate.







King, et al.            Expires 25 November 2023                [Page 3]

Internet-Draft              tvr-requirements                    May 2023


3.2.  Topologies

   TBD

3.2.1.  Nodes

   TBD

3.2.2.  Links

   TBD

3.3.  Routing

   Existing routing techniques are not typically designed to handle
   potential connectivity, i.e., nodes and links scheduled to appear in
   the future.  Therefore, the TVR Scenarios and use cases referenced
   and discussed in this document will be compromised of scheduled
   resources that are expected to appear in the future.

   However, even if some adjacency failures are predictable, others are
   not, including link failures and node outages.  Therefore, any new
   technique or routing protocol extension for TVR enviroments must be
   capable of handling planned and unexpected resource losses.

3.3.1.  Constraints

   TBD

4.  Time-Variant Use Case Requirements

   TBD

5.  Operational Considerations

   TBD

6.  Security Considerations

   TBD

7.  IANA Considerations

   This document has no IANA actions.

8.  References

8.1.  Normative References



King, et al.            Expires 25 November 2023                [Page 4]

Internet-Draft              tvr-requirements                    May 2023


   [I-D.ietf-tvr-use-cases]
              Birrane, E. J., Kuhn, N., and Y. Qu, "TVR (Time-Variant
              Routing) Use Cases", Work in Progress, Internet-Draft,
              draft-ietf-tvr-use-cases-00, 15 April 2023,
              <https://datatracker.ietf.org/doc/html/draft-ietf-tvr-use-
              cases-00>.

   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", BCP 14, RFC 2119,
              DOI 10.17487/RFC2119, March 1997,
              <https://www.rfc-editor.org/info/rfc2119>.

   [RFC8174]  Leiba, B., "Ambiguity of Uppercase vs Lowercase in RFC
              2119 Key Words", BCP 14, RFC 8174, DOI 10.17487/RFC8174,
              May 2017, <https://www.rfc-editor.org/info/rfc8174>.

8.2.  Informative References

   [I-D.contreras-tvr-alto-exposure]
              Contreras, L. M., "Using ALTO for exposing Time-Variant
              Routing information", Work in Progress, Internet-Draft,
              draft-contreras-tvr-alto-exposure-00, 2 March 2023,
              <https://datatracker.ietf.org/doc/html/draft-contreras-
              tvr-alto-exposure-00>.

   [I-D.hou-tvr-satellite-network-usecases]
              Dongxu, H., Min, X., Zhou, F., and D. Yuan, "Satellite
              Network Routing Use Cases", Work in Progress, Internet-
              Draft, draft-hou-tvr-satellite-network-usecases-01, 13
              March 2023, <https://datatracker.ietf.org/doc/html/draft-
              hou-tvr-satellite-network-usecases-01>.

   [I-D.king-tvr-ntn-challanges]
              King, D. and K. Shortt, "Time Variant Challenges for Non-
              Terrestrial Networks", Work in Progress, Internet-Draft,
              draft-king-tvr-ntn-challanges-00, 17 January 2023,
              <https://datatracker.ietf.org/doc/html/draft-king-tvr-ntn-
              challanges-00>.

Authors' Addresses

   D. King
   Lancaster University
   Email: d.king@lancaster.ac.uk


   L. M. Contreras
   Telefonica



King, et al.            Expires 25 November 2023                [Page 5]

Internet-Draft              tvr-requirements                    May 2023


   Email: luismiguel.contrerasmurillo@telefonica.com


   B. Sipos
   JHU/APL
   Email: brian.sipos+ietf@gmail.com













































King, et al.            Expires 25 November 2023                [Page 6]
